.card {
    background-color: var(--background-white);
    font-family: var(--font-open-sans);
    color: var(--text-dark);
    border-radius: var(--card-border-radius);
    padding: 10px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cardWarning {
    background-color: var(--background-white);
    font-family: var(--font-open-sans);
    color: var(--text-dark);
    border-radius: var(--card-border-radius);
    padding: 10px;
    border: 1px dashed #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cardGrid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    word-wrap: break-word;
    padding: 0px;
}

@media only screen and (max-width: 820px) {
    .cardGrid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
