.scoreBar {
    height: 8px;
    width: 100%;
    background-color: var(--light-gray);
}

.scoreBar > div {
    position: relative;
    height: 8px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chevron {
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
    margin-left: 15px;
}

.headerIconName {
    text-align: left;
}

.headerScoreChevron {
    min-width: 120px;
    text-align: right;
}
