ul.list {
    text-decoration: none;
    margin-block: 0px;
    list-style: none;
    line-height: 28px;
    padding-inline: 0px;
}

ul.list > li {
    display: flex;
    justify-content: space-between;
}

ul.list > li > span:nth-child(1) {
    text-transform: uppercase;
    font-weight: 800;
}

ul.list > li > span:nth-child(2) {
    font-weight: 600;
    max-width: 50%;
    text-align: right;
}
