.chevron {
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);
    margin-left: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-white);
    border: 0;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.content {
    transition: height 0.25s cubic-bezier(0, 0, 0, 1);
}
