.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    word-wrap: break-word;
    padding: 0px;
}

@media only screen and (max-width: 1280px) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media only screen and (max-width: 820px) {
    .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
