ul.kpiList {
    text-decoration: none;
    margin-block: 0px;
    list-style: none;
    line-height: 28px;
    padding-inline: 0px;
    margin-bottom: 40px;
}

ul.kpiList > li {
    display: flex;
    justify-content: space-between;
}

ul.kpiList > li > span:nth-child(1) {
    text-transform: uppercase;
}

ul.kpiList > li > span:nth-child(2) {
    font-weight: 800;
}

.toggleContent {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}
