.repositoryCard {
    background-color: var(--background-white);
    font-family: var(--font-open-sans);
    color: var(--text-dark);
    border-radius: var(--card-border-radius);
    padding: 20px;
    border: 1px solid #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
