.main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    width: 100%;
    background-color: var(--background-dark);
}

.headerMain {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeft {
    margin: 5px 0px;
    display: flex;
}

.headerMain > .headerLeft > img {
    margin-right: 10px;
}

.headerRight {
    color: var(--text-white);
}

.headerMain > .headerRight > a {
    font-weight: 400;
    text-transform: uppercase;
    color: var(--text-white);
    cursor: pointer;
}

.headerMain > .headerRight > a.active {
    font-weight: 800;
}

.headerMain > .headerRight > a:hover {
    text-decoration: underline;
}
