* {
    --primary: rgb(250, 45, 96);
    --secondary: rgb(115, 232, 255);
    --secondary-light: rgb(179, 242, 255);
    --background-dark: rgb(43, 45, 66);
    --background-light: rgb(242, 249, 252);
    --background-white: rgb(255, 255, 255);

    --text-dark: rgb(43, 45, 66);
    --text-red: rgb(250, 45, 96);
    --text-white: rgb(255, 255, 255);
    --text-light-gray: rgb(200, 200, 200);
    --card-border-radius: 0.5rem;

    --light-gray: rgb(245, 245, 245);
    --green: rgb(54, 169, 54);
    --orange: rgb(239, 121, 25);
    --red: rgb(214, 31, 58);
    --font-open-sans: "Open Sans", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

body {
    margin: 0px;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: var(--font-open-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-poppins);
    font-weight: 800;
    margin: 0.6rem 0;
}

p {
    margin: 0.5rem 0;
}

.button {
    display: block;
    text-align: center;
    color: var(--text-dark);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: var(--font-poppins);
    background-color: var(--secondary);
    line-height: 18px;
    transition-duration: 0.3s;
    transition-property: background-color;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    padding: 10px 40px;
    border-radius: 0.25rem;
}

.button:hover {
    background-color: var(--secondary-light);
}

hr {
    border-top: 1px solid var(--text-dark);
}

a {
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 800;
}

a:hover {
    color: var(--text-red);
    text-decoration: underline;
}

a.button:hover {
    color: var(--text-dark);
    text-decoration: none;
}

.fa-spin {
    animation: fa-spin 1s infinite linear !important;
}

.desktop-only-margin-right {
    margin-right: 40px;
}

@media only screen and (max-width: 820px) {
    .desktop-only {
        display: none;
    }

    .desktop-only-margin-right {
        margin-right: 10px;
    }
}

.szh-accordion__item {
    color: var(--text-dark);
}

.tooltip-container {
    max-width: 400px;
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
}

a.tooltip-anchor {
    cursor: pointer;
}

hr {
    border: 0px;
    border-bottom: 1px dashed;
}
